<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JO 2024 Paris</title>
    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body class="font-sans flex flex-col min-h-screen">
    <nav style="background-color: #0777b0;" class="p-4 shadow-md">
        <div class="container mx-auto flex justify-between items-center">
            <img class="logo h-14 w-auto" src="{% static 'images/logoJO.png' %}" alt="Logo JO 2024 Paris">
            <div class="flex items-center space-x-4">
                <a href="{% url 'home' %}" class="text-white hover:text-yellow-500 px-3 py-2 rounded-md text-sm font-medium transition duration-300">Accueil</a>
                <a href="{% url 'list_offers' %}" class="text-white hover:text-yellow-500 px-3 py-2 rounded-md text-sm font-medium transition duration-300">Billeterie</a>
                <a href="#" class="text-white hover:text-yellow-500 px-3 py-2 rounded-md text-sm font-medium transition duration-300">Performance</a>
                <a href="#" class="text-white hover:text-yellow-500 px-3 py-2 rounded-md text-sm font-medium transition duration-300">Contact</a>
                <a href="{% url 'view_cart' %}" class="text-white hover:text-yellow-500 px-3 py-2 rounded-md text-sm font-medium transition duration-300">Mon Panier</a>

                {% if user.is_authenticated %}
                    <a href="{% url 'account' %}" class="text-white hover:text-yellow-500 px-3 py-2 rounded-md text-sm font-medium transition duration-300">Mon Compte</a>
                    <a href="{% url 'logout' %}" class="text-white hover:text-yellow-500 px-3 py-2 rounded-md text-sm font-medium transition duration-300">Déconnexion</a>
                {% else %}
                    <a href="{% url 'login' %}" class="text-white hover:text-yellow-500 px-3 py-2 rounded-md text-sm font-medium transition duration-300">Connexion</a>
                    <a href="{% url 'register' %}" class="text-white hover:text-yellow-500 px-3 py-2 rounded-md text-sm font-medium transition duration-300">Inscription</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <main class="container mx-auto py-4 flex-grow">
        {% block content %}
        {% endblock %}
    </main>
    <footer style="background-color: #0777b0;" class="text-white text-center p-4 mt-auto">
        © 2024 Mon Site. Tous droits réservés.
    </footer>
    
</body>
</html>

